.player>.uno-score{
    display: block;
    top:0px;
    width: 100%;
    left: 0px;
    height: 30px;
    color:white;
    font-size: 20px;
    font-family: 'yuanli';
    text-align: center;
    z-index: 131;
}
.player>.uno-warn{
    display: block;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    background-image: url('../../../resource/image/decro/uno.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 130;
}

.player>.uno-ban{
    display: block;
    left:calc(50% - 35px);
    top:calc(50% - 35px);
    width: 70px;
    height: 70px;
    background-image: url('../../../resource/image/decro/ban.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 130;
}

.uno-turn{
    display: block;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%) scaleX(-1);
    width: 400px;
    height: 400px;
    background-image: url('../../../resource/image/decro/turn.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 130;
    opacity: 0.6;
}

.uno-turn.uno-reverse{
    transform: translate(-50%, -50%) scaleX(1);
}